.footer-container {
  height: 10vh;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
}
.footer {
  display: flex;
  flex: 1;
  background-color: var(--orange);
  align-items: center;
  justify-content: center;
}
.footer-item {
  color: var(--white);
  font-size: 40px;
  padding: 0;
  margin: 0;
}
