:root {
  --orange: rgba(251, 177, 60, 1);
  --faded-orange: rgba(251, 177, 60, 0.5);
}

body {
  height: 100vh;
  margin: 0;
  background-color: whitesmoke;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px whitesmoke;
}
.logo {
  font-family: "Righteous", cursive;
  font-size: 60px;
  color: var(--orange);
  text-align: center;
}
.header-logo {
  margin-top: 5px;
  font-size: 40px;
}
.login-container {
  position: relative;
  top: 85px;
  display: flex;
  flex-direction: column;
}
.sign {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--orange);
  margin-top: 20px;
  font-weight: 500;
}
.sign-in {
  margin: 0 15px 0 0;
}
.sign-up {
  color: var(--faded-orange);
}
.sign-in::after {
  content: "";
  position: absolute;
  left: 23.4%;
  bottom: 82.5%;
  width: 87px;
  height: 3px;
  background: var(--orange);
}
.sign-up::after {
  content: "";
  position: absolute;
  left: 51.5%;
  bottom: 82.5%;
  width: 87px;
  height: 3px;
  background: var(--faded-orange);
}

.up-after::after {
  background: var(--orange);
}
.in-after::after {
  background: var(--faded-orange);
}
.in-after-style {
  background: var(--orange);
}
.svg {
  position: relative;
  color: var(--orange);
  font-size: 19px;
  margin-left: 30px;
}

.registerform {
  display: none;
}
.block {
  display: block;
  animation-name: register;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.none {
  display: none;
  animation-name: register;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
hr {
  position: relative;
  bottom: 17px;
  left: 11%;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 1.7px;
  background-color: var(--orange);
}

textarea:focus,
input:focus {
  outline: none;
}
.input {
  position: relative;
  background: whitesmoke;
  width: 190px;
  height: 30px;
  border: 0;
  margin-bottom: 20px;
}
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
}
.faded {
  color: var(--faded-orange);
}
.not-faded {
  color: var(--orange);
}

.button {
  font-family: "Roboto", sans-serif;
  position: relative;
  border: 2px solid var(--orange);
  left: 29%;
  margin-top: 10px;
  height: 30px;
  width: 110px;
  background-color: var(--orange);
  border-radius: 5%;
  color: whitesmoke;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.fade {
  animation-name: register;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.wheel {
  float: right;
  margin: 10px;
}
.cog {
  font-size: 40px;
}

.profile-image {
  height: 100px;
  width: 100px;
}
.profile-image-name {
  margin: 20px 0px 0px 10px;
  display: flex;
}
.profile-image-container {

}

@keyframes register {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
