.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 5vh;
  padding: 0 10px 10px 10px;
  background-color: var(--main);

  
}
.post-box {
  box-shadow : 0 0px 2px rgba(0, 0, 0, 0.50), 0 0px 0px rgba(0, 0, 0, 0.46) ;
  border-radius: 2%;
  width: 340px;
  margin: 10px 0 30px 0;
  padding: 10px 0 10px 10px;
  background-color: var(--white);
}
.post-header {
  width: 100%;
  display: flex;
}
.post-image-container {
  margin: 0 10px 0 0;
  min-width: 320px;
  max-width: 320px;
  min-height: 320px;
  max-height: 320px;
}
.post-image {
  border-radius: 2%;
  padding: 0.5px;
  min-width: 320px;
  max-width: 320px;
  min-height: 320px;
  max-height: 320px;
  object-fit: cover;
}
.post-description {
  display: flex;
  margin: 5px 4px 0px 4px;
}
.post-description-text {
  flex: 4;
  margin-bottom: 10px;
}
.post-user-image {
  border-radius: 15%;
  margin: 2px 5px 5px 2px;
  height: 40px;
  width: 40px;
}
.likeBtn {
  background-color: var(--main);
  border-radius: 10%;
  border: none;
  color: var(--white);
  padding: 7px 12px;
  font-size: 12px;
  cursor: pointer;
}

.post-button {
  position: relative;
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--main);
  top: -10px;
  border-radius: 8%;
  margin-top: 10px;
  height: 20px;
  width: 55px;
  background-color: var(--main);
  color: var(--white);
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
.delete-post {
  left: 135px;
}
.edit-post {
  left: 20px;
}
.likes {
  display: inline;
  color: var(--main);
  font-size: 16px;
  font-weight: 500;
}

.commentBtn {
  border: 2px solid var(--main);
  border-radius: 5%;
  background-color: var(--main);
  color: var(--white);
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  height: 25px;
  width: 65px;

}
.likeform {
  flex: 1;
}
.commentscontainer {
  margin-left: 4px;
}
.comments-form {
  margin-left: 4px;
}
.comment-username {
  color: var(--main);
}
.hidden {
  display:none!important;
}
.select-image-div {
  position: relative;
  top: 100px;
}
.new-post-header {
  margin-bottom: 40px;
}
.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-button {
  margin-bottom: 10px;
}