.posts-container {
  width: 100%;
  position: relative;
  margin-bottom: 10vh;
}
.post-box {
  margin-bottom: 5vh;
}
.post-header {
  display: flex;
}
.post-image {
  width: 100%;
}
.post-description {
}
.post-user-image {
  height: 40px;
  width: 40px;
}
.likeBtn {
  background-color: var(--orange);
  border: none;
  color: white;
  /* padding: 12px 16px; */
  font-size: 16px;
  cursor: pointer;
}
.dislike {
  display: block;
}
.displaynone {
  display: none;
}
.displayblock {
  display: block;
}
