* {
  border: 1px solid black;
}
.post-box {
  height: 100vh;
  width: 100vw;
}
.post-header {
  display: flex;
}
.post-image {
  width: 100vw;
}
.post-description {
}
.post-user-image {
  height: 40px;
  width: 40px;
}
