.profile-image-container {
      margin: 3px;
      display: grid;
      grid-template-columns:repeat(5, minmax(115px, 1fr));
      grid-gap: 3px;
      overflow: hidden;
    }

    .profile-image-box {  
        overflow: hidden;
        height: 115px;
        object-fit: contain;
    
    }
     .profile-grid-image {
        display: inline-block;  
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5%;
    }
/* 
.portrait {
    height: auto;
    width: 100%;
} */

.username-header {
    margin-top: 15px;
}

.profile-image {
    border-radius: 10%;
    height: 80px;
    width: 80px;
    margin-right: 15px;
}
  .profile-image-name {
    margin: 20px 0px 0px 10px;
    display: flex;
}

@media screen and (max-width: 800px) {

    .profile-image-container {
        grid-template-columns:repeat(3, minmax(115px, 1fr));
    }
    
}

@media screen and (max-width: 1000px) {

    .profile-image-container {
        grid-template-columns:repeat(4, minmax(115px, 1fr));
    }
    
}

@media screen and (min-width: 600px) {

    .profile-image {
        height: 120px;
        width: 120px;
        }

    .profile-image-box {
        min-width: 180px;
        min-width: 180px;
        min-height: 180px;
        max-height: 180px;
    }

}